<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432114204653-uen7tieglob49pghvokp6gb8n4slbl4o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432114204653-uen7tieglob49pghvokp6gb8n4slbl4o</string>
	<key>API_KEY</key>
	<string>AIzaSyAg13Pq5Zf0r1BKZgNPK9BKoN33A7zfN1I</string>
	<key>GCM_SENDER_ID</key>
	<string>432114204653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gavindaniel.Mariners</string>
	<key>PROJECT_ID</key>
	<string>mariners-4ac01</string>
	<key>STORAGE_BUCKET</key>
	<string>mariners-4ac01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432114204653:ios:64c564ea8b4013d0a171e4</string>
</dict>
</plist>